@media (max-width: 1199px) {
    .container {
        width: 980px;
    }
    .banner .sale {
        width: 295px;
        height: 350px;
    }
    .banner .slider {
        width: 620px;
        height: 350px;
    }
    .advantages {
        width: calc(100% - 300px);
    }
    .subscribe {
        width: 300px;
    }
    .card .img {
        height: 215px;
    }
    .widgets {
        display: none;
    }

    header .leftSelect {
        display: none;
    }
}
@media (max-width: 991px) {
    .container {
        width: 780px;
    }
    header .left {
        width: 40% !important;
    }
    header .right {
        width: 40% !important;
    }
    header .logo {
        width: 20% !important;
    }
    .banner > div {
        height: 260px !important;
    }
    .banner .sale {
        width: 220px;
    }
    .banner .slider {
        width: 470px;
    }
    .advantages {
        width: 100%;
    }
    .subscribe {
        margin-top: 20px;
        width: 100%;
    }
    .subscribe .wrap {
        width: 285px;
    }
    .filter ul {
        display: none;
    }
    .filterSelect {
        display: block;
    }
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .footMenu {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footMenu > li {
        float: none;
        width: 100%;
    }
    .footMenu > li li {
        display: inline-block;
        margin: 0 10px;
    }
    .footContacts {
        width: 50%;
    }
    .copyright {
        width: 50%;
    }

    .footContacts > a {
        display: table;
    }
    .copyright span {
        display: block;
    }
    .socLinks div {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
    }
    header .leftSelect {
        display: none;
    }

}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    header {
        background-color: #64bb4a;
    }
    header .left ul{
        display: none;
    }
    header .left a{
        display: none;
    }
    header .left .leftSelect {
        display: block;
    }
    header .left .leftSelect select {
        width: 62px;
    }
    header .logo {
        width: 30%;
    }
    header .right {
        display: none;
    }
    header .phoneBasked {
        width: 50px;
        height: 50px;
        position: absolute;
        background-repeat: no-repeat;
    }
    .content .banner {
        display: none;
    }
    .content .advSab{
        display: none;
    }
    .cards {
        grid-template-columns: repeat(1, 2fr);
    }
    .info .tabs {
        display: none;
    }
    .tabContent {
        display: none;
    }
    .inputPhone label {
        font-size: 14px;
    }
    .inputPhone {

        position: relative;
        z-index: 1;
        margin-bottom: 20px;
        margin-left: 43px;
    }
    .inputPhone button {
        display: block;
        position: absolute;
        z-index: -1;
        background-color: #259c48;
        top: 24px;
        left: 160px;
    }
    header .logo img:nth-child(1) {
        display: none;
    }
    header .baskedPhone {
        float: right;
        margin-top: 10px;
        margin-right: -42px;
    }



}